.male {
    display: inline-block;
    background-color: rgb(132, 226, 255);
    border:none;
    font-size: 16px;
    color: rgb(21, 75, 100);
    padding: 12px 28px;
    border-radius: 18px;
    margin: 4px 4px 4px 4px;
    transition-duration: 0.2s;
}

.male:hover {
    background-color: white;
    color:rgb(0, 116, 224)
}

.female {
    display: inline-block;
    background-color: rgb(255, 156, 210);
    border: none;
    font-size: 16px;
    color: rgb(136, 6, 86);
    padding: 12px 28px;
    border-radius: 18px;
    margin: 4px 4px 4px 4px;
    transition-duration: 0.2s;
}

.female:hover {
    background-color: white;
    color: rgb(255, 132, 153);
}

.babyNamesList {
    padding-right: 10%;
    padding-left: 10%;

}

.center {
    display: block;
    margin: 0 auto;
    width: 5%;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    transition: width 0.2s ease-in-out;
    
}

/* .center{
width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
} */

.center:focus{
    width:10%;
    color: white;
    text-align: center;
}

hr {
    width: 70%;
    color: cornflowerblue;
}

.maleButton {
    display: inline-block;
    background-color: rgb(132, 226, 255);
    border:none;
    font-size: 50px;
    color: rgb(21, 75, 100);
    padding: 0px 10px;
    border-radius: 18px;
    margin: 4px 4px 4px 4px;
    transition-duration: 0.2s;
    margin-left: 46.75%;
}

.maleButton:hover {
    background-color: white;
    color:rgb(21, 75, 100)
}

.femaleButton {
    display: inline-block;
    background-color: rgb(255, 156, 210);
    border:none;
    font-size: 50px;
    color: rgb(136, 6, 86);
    padding: 0px 10px;
    border-radius: 18px;
    margin: 4px 4px 4px 4px;
    transition-duration: 0.2s;
}

.femaleButton:hover {
    background-color: white;
    color: rgb(136, 6, 86)
}

.resetButton {
    display: inline-block;
    background: linear-gradient(90deg, rgb(132, 226, 255) 47.5%, rgb(255, 156, 210) 55%);
    border:none;
    font-size: 18px;
    color: rgb(63, 47, 57);
    padding: 4px 10px;
    border-radius: 18px;
    margin: 4px 4px 4px 4px;
    transition-duration: 0.2s;
    margin-left: 48.5%;
}